.git
!.git/HEAD
!.git/logs/HEAD
redshift.dmb
redshift.rsc
redshift.dyn.rsc
redshift.dyn.rsc.lk
redshift.int
libmysql.dll
.dockerignore
Dockerfile
.editorconfig
.gitattributes
.gitignore
.travis.yml
.github
sql
